[Unit]
Description=Lock screen before suspend
Before=sleep.target

[Service]
User=archie
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock --color=303030 -e -f

[Install]
WantedBy=sleep.target
