[Unit]
Description=Lock screen before suspend
Before=sleep.target

[Service]
User=archie
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock --color=303030 -e -f
; ExecStart=/usr/bin/i3lock --timepos="50:70" --wrongtext="Wrong!" --veriftext="Verifying…" --datesize=24 --datecolor=ffffffff --timesize=64 --timecolor=ffffffff -k --bshlcolor=808080ff --keyhlcolor=ffffffff --textcolor=ffffffff --separatorcolor=ffffffff --ringcolor=202020ff --ringwrongcolor=303030ff --ringvercolor=303030ff --insidecolor=000000ff --insidevercolor=000000ff --insidewrongcolor=000000ff --linecolor=ffffffff --color=303030 -e -f

[Install]
WantedBy=sleep.target
